
#home{
    background: $home-image;
    background-attachment: fixed;
    background-size: cover; 
    overflow: hidden;
}

.theme {
    .overlay{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    #home-main{
        display: grid;
        grid-template-areas: 'content solar';
        grid-template-columns: repeat(2, 1fr);
        .content{
            grid-area: content;
            h1{ margin-top: 12vh; }
            .icons{
                margin-top: 1rem;
                a{
                    padding: 0.4rem;
                    &:hover{ 
                        @include easeOut;
                        text-decoration: none; 
                    }
                }
            }
        }
        .solar-skills{
            grid-area: solar;
        }
    }
}




@include mediaLg {
    .theme{
        #home-main{
            grid-template-areas: 'content' 'solar';
            grid-template-columns: 1fr;
            .content{
                grid-area: content;
            }
            .solar-skills{
                grid-area: solar;
                position: absolute;
                opacity: 0.4;
                .skills-top-circle{
                    opacity: 0;
                }
            }
        }
    }
}


@include mediaMd {
    .theme{
        #home-main{
            grid-template-areas: 'content' 'solar';
            grid-template-columns: 1fr;
            .content{
                grid-area: content;
            }
            .solar-skills{
                grid-area: solar;
                position: absolute;
                opacity: 0.4;
                .skills-top-circle{
                    opacity: 0;
                }
            }
        }
    }
}
