.light-theme {
    @extend .theme;
    // start menu toggler
    .menu-toggler{
        span{  background-color: $light-text;   }
    }
    // start mode toggler
    .mode-toggler{
        border: 0.1px solid lighten($light-primary, $color-change-amount);
        background-color: $light-primary;
        box-shadow: 
            inset 10px 10px 15px darken($light-primary, $color-change-amount),
            inset -10px -10px 15px lighten($light-primary, $color-change-amount);
        &.toggle-icon {
            box-shadow: 
                /* offset */ 0px 0px 0px 3px $light-primary,
                /*bottom right */ 4px 4px 7px darken($light-primary, $color-change-amount),
                /* top left */ -4px -4px 7px lighten($light-primary, $color-change-amount);
        }
    }
    
    // start home overlay
    .overlay {
        background-image: linear-gradient(120deg, $light-primary,white, $light-primary);
        opacity: $background-opacity;
    }   
    // start home icons
    .icons{
        a {color: $light-text;}
        a:hover{color:$light-secondary}
    }
    .menu-nav{
        background-color: rgba(darken($light-primary, 5), 0.9);
    }
    .menu-branding {
        background-color: rgba($light-primary, 0.9);
    }
    .prtorait{
        border: solid 5px $light-secondary;
    }
    .nav-item{
        &.current > a {
            color: $light-secondary; 
            span{
                font-size: 25px;
            }
        }
        a{
            color: $light-text;
            &:hover{ color: $light-secondary;  }
        }
    }
    .lg-heading{
        color: $light-text;
        span{  color: $light-secondary;  }
    }
    .sm-heading{
        color: $light-text;
        background-color: rgba(lighten($light-primary, 2), 0.5);
    }

    #contact-main{
        .button-success {
            color: white;
            // border-radius: 4px;
            // text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            // background: rgb(28, 184, 65); /* this is a green */
        }
        #name, #email, textarea {
            border: solid 1px lighten($light-secondary, 50);
        }
        button{
            // border: solid 1px $light-secondary;
            outline: none;
            border: none;
            background-color: darken(#e7e1f9, 20);
            color: white;
            &:hover{
                outline: none;
                background-color: darken(#e7e1f9, 10);
            }
        }
    }
    &#about, &#works &#contact{        
        background: $cloudy-background;
        background-attachment: fixed;
        background-size: cover; 
        small{
            font-size: 14px; 
            font-weight: 400;
            color: darken($light-secondary, 30) ;
        }
        &:after{
            content: ""; // ::before and ::after both require content
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(120deg, $light-primary,white, $light-primary);
            opacity: $background-opacity;
            z-index: -1;
        }
        // overflow: hidden;
    }
    .bio-img{
        border: solid 3px $light-secondary;
    }
    .exp{
        background: darken($light-primary, 5);
        border-bottom: solid 5px $light-secondary;
    }
    .projects{
        img{
            // border: solid 3px $light-text;
            // &:hover{ border-color: $light-secondary; }
        }
    }
    footer{
        background-color: darken($light-primary, 10);
        color: $light-text;
    }
}




.dark-theme{
    @extend .theme;
    color: $dark-text;
    // start menu toggler
    .menu-toggler{
        span{  background-color: $dark-text; }
    }
    .mode-toggler{
        border: 0.1px solid lighten($dark-primary, $color-change-amount);
        background-color: $dark-primary;
        box-shadow: 
            inset 10px 10px 15px darken($dark-primary, $color-change-amount),
            inset -10px -10px 15px lighten($dark-primary, $color-change-amount);
        &.toggle-icon {
            box-shadow: 
            /* offset */ 0px 0px 0px 3px $dark-primary,
            /*bottom right */ 4px 4px 7px darken($dark-primary, $color-change-amount),
            /* top left */ -4px -4px 7px lighten($dark-primary, $color-change-amount);
        }
    }
    // start home icons
    .overlay {
        background-image: linear-gradient(120deg, $dark-primary, rgb(7, 46, 97), $dark-primary);
        opacity: $background-opacity;
    }
    // start home icons
    .icons{
        a {color: $dark-text;}
        a:hover{color:$dark-secondary}
    }
    .menu-nav{
        background-color: rgba(darken($dark-primary, 5), 0.9);
    }
    .menu-branding {
        background-color: rgba($dark-primary, 0.9);
    }
    .prtorait{
        border: solid 3px rgba($dark-secondary, 0.8);;
    }
    .nav-item{
        &.current > a{ 
            color: $dark-secondary;
            span{ font-size: 25px;}  
        }
        a{
            color: $dark-text;
            &:hover{  color: $dark-secondary; }
        }
    }
    .lg-heading{
        color: $dark-text;
        span{  color: $dark-secondary;  }
    }
    .sm-heading{
        color: $dark-text;
        background-color: rgba(lighten($dark-primary, 2), 0.5);
    }
    #contact-main{
        .button-success {
            color: white;
            // border-radius: 4px;
            // text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            // background: rgb(28, 184, 65); /* this is a green */
        }
        #name, #email, textarea {
            border: solid 1px lighten($dark-secondary, 50);
        }
        button{
            // border: solid 1px $light-secondary;
            outline: none;
            border: none;
            background-color: darken($dark-secondary, 10);
            color: white;
            &:hover{
                outline: none;
                background-color: lighten($dark-secondary, 10);
            }
        }
    }
    &#about, &#about &#contact{        
        background: $stary-background;     
        background-attachment: fixed;
        background-size: cover; 
        .title{
            color: $dark-secondary;
        }
        .sub-title{
            color: darken($dark-text, 20);
        }
        small{
            font-size: 14px; 
            font-weight: 400;
            color: #9a9a9a ;
        }
        &:after{
            content: ""; 
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(120deg, $dark-primary, rgb(7, 46, 97), $dark-primary);
            opacity: $background-opacity;
            z-index: -1;
        }
    }
    .bio-img{
        border: solid 3px $dark-secondary;
    }
    .exp{
        background: lighten($dark-primary, 3);
        border-bottom: solid 5px $dark-secondary;
        .exp-title{
            color: darken($dark-text, 30);
        }
    }
    footer{
        background: lighten($dark-primary, 1);
    }
}


.theme{
    ul {
        padding: 0;
        list-style-type: none;
    }
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    body{
        height: 100%;
        line-height: 1.5;
        padding: 0;
        margin:  0 0 ;
    }
    main{
        padding: 5rem 6rem 5rem 5%;
        min-height: calc(100vh - 130px);
    }
    a{
        text-decoration: none;
    }
    min-width:320px;
    margin: 0!important;
    
    @include mediaMd {
        main{
            align-items: center;
            text-align: center;
            .lg-heading{
                line-height: 1;
                margin-bottom: 1rem;
            }
        }
    }
}