.light-theme {
    @extend .theme;
    .lg-heading{
        color: $light-text;
        span{  color: $light-secondary;  }
    }
    .sm-heading{
        color: $light-text;
        background-color: rgba(lighten($light-primary, 2), 0.5);
    }
    .icons{
        a {color: $light-text;}
        a:hover{color:$light-secondary}
    }

    // header
    header {
        .menu-toggler{
            span{  background-color: $light-text;   }
        }
        .mode-toggler{
            border: 0.1px solid lighten($light-primary, $color-change-amount);
            background-color: $light-primary;
            box-shadow: 
                inset 10px 10px 15px darken($light-primary, $color-change-amount),
                inset -10px -10px 15px lighten($light-primary, $color-change-amount);
            &.toggle-icon {
                box-shadow: 
                    /* offset */ 0px 0px 0px 3px $light-primary,
                    /*bottom right */ 4px 4px 7px darken($light-primary, $color-change-amount),
                    /* top left */ -4px -4px 7px lighten($light-primary, $color-change-amount);
            }
        }
    }
    // menu
    .menu {
        .menu-nav{
            background-color: rgba(darken($light-primary, 5), 0.9);
        }
        .menu-branding {
            background-color: rgba($light-primary, 0.9);
        }
        .prtorait{
            border: solid 5px #b698ff;
        }
        .nav-item{
            &.current > a {
                color: $light-secondary; 
                span{
                    font-size: 25px;
                }
            }
            a{
                color: $light-text;
                &:hover{ color: $light-secondary;  }
            }
        }
    }

    &#about{
        .bio-img{
            border: solid 3px #b698ff;
        }
        .timeline{
            background: darken($light-primary, 5);
            border-bottom: solid 5px $light-secondary;
        }
    }
    &#home{
        .overlay {
            background-image: linear-gradient(120deg, $light-primary,white, $light-primary);
            opacity: $background-opacity;
        }
    }
    &#contact{
        #name, #email, textarea {
            border: solid 1px lighten($light-secondary, 50);
        }
        button{
            outline: none;
            border: none;
            background-color: $light-secondary;
            color: white;
            &:hover{
                outline: none;
                background-color: lighten($light-secondary, 10);
            }
        }
    }
    &#about, &#works, &#contact{        
        background: $cloudy-background;
        background-attachment: fixed;
        background-size: cover; 
        color: $light-text;
        .sub-title{
            color: $light-secondary;
            font-weight: bold;
            margin-bottom: 1vh;
        }
        &:after{
            content: ""; 
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(120deg, $light-primary,white, $light-primary);
            opacity: $background-opacity;
            z-index: -1;
        }
    }

    footer{
        background-color: darken($light-primary, 10);
        color: $light-text;
    }
}




.dark-theme{
    @extend .theme;
    color: $dark-text;
    // start menu toggler
    .menu-toggler{
        span{  background-color: $dark-text; }
    }
    .mode-toggler{
        border: 0.1px solid lighten($dark-primary, $color-change-amount);
        background-color: $dark-primary;
        box-shadow: 
            inset 10px 10px 15px darken($dark-primary, $color-change-amount),
            inset -10px -10px 15px lighten($dark-primary, $color-change-amount);
        &.toggle-icon {
            box-shadow: 
            /* offset */ 0px 0px 0px 3px $dark-primary,
            /*bottom right */ 4px 4px 7px darken($dark-primary, $color-change-amount),
            /* top left */ -4px -4px 7px lighten($dark-primary, $color-change-amount);
        }
    }
    // start home icons
    .overlay {
        background-image: linear-gradient(120deg, $dark-primary, rgb(7, 46, 97), $dark-primary);
        opacity: $background-opacity;
    }
    // start home icons
    .icons{
        a {color: $dark-text;}
        a:hover{color:$dark-secondary}
    }
    .menu-nav{
        background-color: rgba(darken($dark-primary, 5), 0.9);
    }
    .menu-branding {
        background-color: rgba($dark-primary, 0.9);
    }
    .prtorait{
        border: solid 3px rgba($dark-secondary, 0.8);;
    }
    .nav-item{
        &.current > a{ 
            color: $dark-secondary;
            span{ font-size: 25px;}  
        }
        a{
            color: $dark-text;
            &:hover{  color: $dark-secondary; }
        }
    }
    .lg-heading{
        color: $dark-text;
        span{  color: $dark-secondary;  }
    }
    .sm-heading{
        color: $dark-text;
        background-color: rgba(lighten($dark-primary, 2), 0.5);
    }
    &#about{
        .bio-img{
            border: solid 3px $dark-secondary;
        }
        .timeline{
            background: lighten($dark-primary, 3);
            border-bottom: solid 5px $dark-secondary;
            .title{
                color: darken($dark-text, 30);
            }
        }
    }
    &#contact{
        #name, #email, textarea {
            border: solid 1px lighten($dark-secondary, 50);
        }
        button{
            outline: none;
            border: none;
            background-color: darken($dark-secondary, 10);
            color: white;
            &:hover{
                outline: none;
                background-color: lighten($dark-secondary, 10);
            }
        }
    }
    &#about, &#works, &#contact{        
        background: $stary-background;     
        background-attachment: fixed;
        background-size: cover; 
        .title{
            color: $dark-secondary;
        }
        .sub-title{
            color: $dark-secondary;
            font-weight: bold;
            margin-bottom: 1vh;
        }
        &:after{
            content: ""; 
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(120deg, $dark-primary, rgb(7, 46, 97), $dark-primary);
            opacity: $background-opacity;
            z-index: -1;
        }
    }

    footer{
        background: lighten($dark-primary, 1);
    }
}


.theme{
    ul {
        padding: 0;
        list-style-type: none;
    }
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    body{
        height: 100%;
        line-height: 1.5;
        padding: 0;
        margin:  0 0 ;
    }
    main{
        padding: 5rem 5rem;
    }
    a{
        text-decoration: none;
    }
    min-width:320px;
    margin: 0!important;
}




// *********************************************************** //
//                      media querry                           //
// *********************************************************** //
@include mediaLg {
    .theme{
       main{
            h1.lg-heading{
                font-size:5em;
            }
            h2.sm-heading{
                font-size: 1em;;
            }
        }
    }
}

@include mediaMd {
    .theme{
        &#about, &#works, &#contact{        
            h1.lg-heading{
                // background-color: darkorange;
                font-size:4.5em;
                text-align: center;
            }
            h2.sm-heading{
                font-size: 1em;;
                text-align: center;
            } 
        }
    }
 }


 @include mediaSm {
    .theme{
        &#about, &#works, &#contact{        
            h1.lg-heading{
                text-align: center;
                font-size:3.2em;
            }
            h2.sm-heading{
                font-size: 0.8em;
                text-align: center;
            }
            main{
                padding: 70px 35px!important;
            }
        }
    }
 }


 
 @include mediaXS {
    .theme{
        &#about, &#works, &#contact{        
            h1.lg-heading{
                // background-color: red;
                text-align: center;
                font-size:2.5em;
            }
            h2.sm-heading{
                font-size: 0.8em;
                text-align: center;
            }
            .sub-title{
                text-align: center;
            }

            main{
                padding: 100px 25px!important;
            }
        }
        &#home{        
            h1.lg-heading{
                font-size:3em;
            }
            h2.sm-heading{
                font-size: 0.8em;;
            } 
            .sub-title{
                text-align: center;
            }
        }
    }
 }

