
$light-primary:#dacbff;
$light-secondary:#0362b6;
$light-text: #412901;

$dark-primary:#0e032c;
$dark-secondary:#08f32f;
$dark-text:#e6e6e6;

$color-change-amount: 5;
$background-opacity: 0.9;

$transition-some: "background .3s, box-shadow 0.4s";
$transition-all: "all 0.5s";

$home-image: url(../img/background/background.jpg);
$stary-background: url(../img/background/stary.gif);
$cloudy-background: url(../img/background/cloudy.gif);


$portrait-img: url(../img/portrait.jpg);

$xmm : "linear-gradient(to right, red , yellow)";